$c-white: #ffffff;
$c-lighterGray: #f7f7f7;
$c-lightGray: #edf1f2;
$c-gray: #e2e7e9;
$c-darkerGray1: #9b9b9b;
$c-darkerGray2: #707070;
$c-darkGray: #555555;
$c-black: #000000;

$c-lightBlue: #e8f1ff;
$c-blue: #044dc3;

$c-lightGreen: #e2f7e1;
$c-green: #51b549;

$c-countPink: #ff5b4d;

$c-bannerPink: #e64e41;
$c-bannerRed: #ffeae8;
$c-bannerBlue: #e8f1ff;
$c-bannerGreen: #e2f7e1;

$c-footerbg: #f2f2f2;
$c-footercr: #e6e6e6;

$c-toastpb: #ffce00;
$c-toastbg: #f54257;
$c-toastbgdark: #d01d32;
